/* Styling all elements=======================================================================================*/
*{margin:0;padding:0}
img{border:none}
abbr, acronym{cursor:help}
.floatleft{float:left !important}
.floatright{float:right !important}
/* --------------- Applying clearfix fix for some browsers to use in appropriate places -------------- */
.clearfix:after {content: " ";display:block;height:0%;clear:both;visibility:hidden}
.clearfix {display:inline-block}
/* Hide from IE Mac \*/
.clearfix {display:block}
/* End hide from IE Mac */
.clear {clear:both}
/* Global Hyperlinks */
a {color:#111;outline:none;border:none;text-decoration:none}
a:link {color:#111}
a:visited {color:#353535}
a:hover, a:focus {text-decoration:underline}
/*==========================================================================================================*/
html{font-size:100.01%; color:#d4d4d4;height:100%;min-height:100%;font-family: Arial, Helvetica, sans-serif}
body{font:100% Arial, Helvetica, sans-serif;color:#d4d4d4;min-height:101%} /*----- Body -----*/
#wrapper{background:#fff url(../../images/uninor/wrapper.jpg) repeat-x 0 0;width:99%;border-left:1px solid #d4dae6;border-right:1px solid #d4dae6;margin:0 auto;height:100%}/*----- Main Wrapper -----*/
#top{position:relative;height:110px}
.logo{cursor:pointer}
.uninor-logo{position:absolute;top:48px;right:11px}
.logout{position:absolute;top:6px;right:11px;color:#dee5f2;font-size:.8em}
.logout img{vertical-align:middle; margin:0 0 2px 5px}

#nav{ height:52px; padding:7px 0 0 13px;}
#nav li{float:left;list-style:none;text-align:center;font:1em "Myriad Pro", Arial, Helvetica;color:#334e84;display:block;;background:url(../../images/uninor/nav-sep.jpg) no-repeat right 0;padding:0 9px}
#nav li a{display:inline-block;text-decoration:none;height:21px;padding-top:31px;cursor:default;color:#43567e;/*line-height:82px;*/}
#nav li a:hover, #nav li .active{float:left;background-position:left bottom !important;/*line-height:82px;*/color:#fffffe}
#nav li.last{background:none}

#about-us a {background:url(../../images/uninor/about-us.png) no-repeat 0 0;width:75px}
#contact-us a {background:url(../../images/uninor/contact-us.png) no-repeat 0 0;width:86px}
#scan a {background:url(../../images/uninor/scan.png) no-repeat 0 0;width:53px}
#scan-status a {background:url(../../images/uninor/scan-status.png) no-repeat 0 0;width:96px}
#sync-data a {background:url(../../images/uninor/sync-data.png) no-repeat 0 0;width:86px}
#rename-caf a {background:url(../../images/uninor/rename-caf.png) no-repeat 0 0;width:105px}

#container{width:818px;margin:0 auto;min-height:375px}
* html #container{height:420px}
* +html #container{height:420px}
#login{background:url(../../images/uninor/login-section.png) no-repeat 0 0;height:341px;margin-top:42px;position:relative}
.logo2{ position:absolute;top:0;left:302px;}
#login h2{color:#43567e;font:20px "Myriad Pro", Arial, Helvetica;margin-bottom:17px}
.form{padding:106px 0 0 336px}
.form p{clear:both}

.form label{float:left;color:#8391ad;width:120px;font-size:0.75em; height:33px;margin:0 0 7px 0;  background:url(../../images/uninor/login-fld-left.png) no-repeat 5px 0;display:block;padding-left:5px}
.form label span{background:url(../../images/uninor/login-fld-bg.png) repeat-x 0 0; border-right:1px solid #cad1dd;display:block;height:25px;margin-left:8px;padding-top:8px}
.logtexbox, .logtexbox2{float:left;background:url(../../images/uninor/logtexbox-rt.gif) no-repeat right 0;width:290px;height:33px;display:block}
.logtexbox span{background:url(../../images/uninor/logtexbox.gif) repeat-x 0 0; border:0;width:290px;height:33px;display:block}
.logtexbox2 span{background:url(../../images/uninor/logtexbox.gif) repeat-x 0 0; border:0;width:189px;height:33px;display:block}
.textbox1, .textbox2{font:12px Arial, Helvetica, sans-serif;color:#303030;border:0;width:150px;cursor:text; padding-left:5px; margin-top:7px; }
.logtexbox2{width:196px;}
.textbox2{width:183px}

.for-pass{float:left;color:#43567e;font-size:.8em;font-weight:700;margin:7px 0 0 8px}
.for-pass a{color:#43567e}

.submit input{margin-top:13px}

#footer{background:url(../../images/uninor/fbg.gif) repeat-x 0 0;height:186px}
#footer .datamatic{text-align:center;padding-top:17px}
#fbox{width:90%;margin:0 auto;margin-top:5px}
.fbox-cont {position:relative;background:#e8eaf3;border-left:1px solid #d2d8e4;border-right:1px solid #d2d8e4;padding:1px 15px 1px 15px;margin:0;}
* html .fbox-cont {width:96.4%}
.fbox-bottom {height:7px;background:url(../../images/uninor/fbox-bot.gif) no-repeat left bottom;}
* html .fbox-bottom{ margin-top:-11px}
.fbox-bottom span {display:block;position:relative;height:7px;background:url(../../images/uninor/fbox-bot-right.gif) no-repeat right bottom;}
.fbox-top {height:7px;background:url(../../images/uninor/fbox-top.gif) no-repeat left top;}
* html .fbox-top{ margin-bottom:-11px}
.fbox-top span {display:block;position:relative;height:7px;background:url(../../images/uninor/fbox-top-right.gif) no-repeat right top;}

#fbox .left{float:left;width:48.8%;text-align:right;background:url(../../images/uninor/col-sep.gif) no-repeat right 0; padding-right:11px; min-height:65px}
#fbox .right{float:right;width:48.8%}
#fbox h2{color:#7185b0;font-size:14px;font-weight:700; padding:5px 0}
#fbox p{color:#7185b0;font-size:12px;line-height:18px}

#int-bottom {height:7px;background:url(../../images/uninor/cbottom-left.png) no-repeat left bottom;width:99.2%;margin:0 auto; margin-bottom:5px}
* html #int-bottom{ margin-top:-9px}
#int-bottom span {display:block;position:relative;height:7px;background:url(../../images/uninor/cbottom-right.gif) no-repeat right bottom;}

#int-container{width:95.8%;margin:0 auto; padding:0px 0 10px; min-height:480px}
* html #int-container{height:480px}
.cbox-cont {position:relative;background:#eaeef7;border-left:1px solid #c1c7dd;border-right:1px solid #c1c7dd;margin:0;}
.cbox-cont1 {position:relative;background:#fff;border-left:1px solid #c1c7dd;border-right:1px solid #c1c7dd;margin:0;}
.cbox-top {height:11px;background:url(../../images/uninor/cbox-top-left.png) no-repeat left top;}
* html .cbox-top{display:block; overflow:hidden}
* html .cbox-bottom{ margin-top:-2px}
.cbox-top span {display:block;position:relative;height:11px;background:url(../../images/uninor/cbox-top-right.png) no-repeat right top;}

.cbox-bottom {height:16px;background:url(../../images/uninor/cbox-bot-left.png) no-repeat left bottom;}
.cbox-bottom span {display:block;position:relative;height:16px;background:url(../../images/uninor/cbox-bot-right.png) no-repeat right bottom;}
.cbox-cont h2{background:url(../../images/uninor/cbox-head.gif) repeat-x 0 0; height:39px; padding:5px 0 0 19px;color:#43567e; font-size:.9em; font-weight:700}
.content{padding:10px 0 0}
.content form p{padding:4px 19px}
.content form p label{color:#43567e; font-size:.75em;margin-left:8px}
.content form p input{ vertical-align:middle}
.selectbox{background:url(../../images/uninor/selectbox.png) no-repeat 0 0;display:block;width:125px;height:26px; padding:0 4px 0 6px; margin-top:3px}
.select{ border:0;width:125px;height:18px;background:none;color:#a6b2cb;font-size:12px;margin-top:4px}
.cbox-cont .cbox-foot{background:url(../../images/uninor/cbox-foot.gif) repeat-x 0 0; height:44px; padding:10px 0 0 19px;margin-top:12px}
.plugin{margin-right:11px}
.smbox{background:url(../../images/uninor/smbox-top.png) no-repeat 0 0; width:291px;padding-top:11px;margin-left:11px}
.smbox-bottom{background:url(../../images/uninor/smbox-bottom.png) no-repeat 0 0;height:18px}
.smbox-cont{background:#dfe5f1 url(../../images/uninor/smbox-bg.gif) repeat-x 0 0;border-left:1px solid #c1c7dd;border-right:1px solid #c1c7dd;}
#form label{float:left;width:95px;margin:5px 5px 0 22px;font:12px Arial, Helvetica, sans-serif;color:#43567e}
#form p{clear:both;padding:10px 0}
* html #form p{clear:both;padding:5px 0}
* +html #form p{clear:both;padding:5px 0}
.textbox-bg{float:left;background:url(../../images/uninor/textbox-bg.gif) no-repeat 0 0; width:136px; height:24px;padding:2px 4px 0 6px; display:block}
.textbox{background:none; border:0; width:135px; font:12px Arial, Helvetica, sans-serif;color:#303030;cursor:text}
.selectbox2{float:left;background:url(../../images/uninor/selectbox2.gif) no-repeat 0 0;display:block;width:110px;height:26px; padding:0 4px 0 6px}
.select2{ border:0;width:110px;height:18px;background:none;color:#a6b2cb;font-size:12px;margin-top:4px}
.smbox-cont .smbox-foot{background:url(../../images/uninor/smbox-foot.gif) repeat-x 0 0; height:37px; padding-top:15px;margin-top:7px}
.smbox-cont .smbox-foot span{padding-left:122px}
.smbox-cont .smbox-foot span input{margin-right:7px}

 tr.tbl-head{height:54px}
 .tbl-left-top{background:url(../../images/uninor/tbl-left-top.png) no-repeat 0 0;width:36px;border-right:2px solid #e7eaf2;color:#43567e;font-size:.9em;}
 .tbl-top{background:url(../../images/uninor/tbl-top.gif) repeat-x 0 0;color:#43567e;font-size:.9em;padding-left:5px;border-right:2px solid #e7eaf2}
 .tbl-rt-top{background:url(../../images/uninor/tbl-rt-top.png) no-repeat 0 0;width:49px;}
 .tbl-top.alignc{text-align:center;padding-left:0}

tr.row td{background:#eaeff7 url(../../images/uninor/row-bg.gif) repeat-x 0 bottom;padding:7px 10px 13px; font-size:.75em;color:#43567e; border-right:2px solid #d5d9e7;}
 tr.row td.first,  tr.row-alter td.first{border-left:1px solid #c1c7dd;padding:6px 0 12px; width:35px}
 tr.row-alter td{background:#f7f9fc url(../../images/uninor/row-alter-bg.gif) repeat-x 0 bottom;padding:7px 10px 13px;font-size:.75em;color:#43567e; border-right:2px solid #d5d9e7;}

 .tbl-left-bot{background:url(../../images/uninor/tbl-left-bot.png) no-repeat 0 0;width:4px;height:17px}
 .tbl-bot{background:url(../../images/uninor/tbl-bot.gif) repeat-x 0 0;height:17px}
 .tbl-rt-bot{background:url(../../images/uninor/tbl-rt-bot.png) no-repeat 0 0;width:49px;height:17px}



div.popupWrapper {
	margin: 0px auto;
	padding: 5px;
	border: solid 1px #17a5cd;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

.content-header {
   background: url(../../images/cbox-head.gif) repeat-x 0 0;
   height: 30px;
   padding: 0px 0 0 0px;
   color: #43567e;
   font-size: .9em;
   font-weight: 700;
}

.content-title {
   padding: 0px 0 0 0px;
   color: #43567e;
   font-size: .9em;
   font-weight: 700;
   width:60%;
}
.content-toolbar{
   padding: 0px 0 0 0px;
   color: #43567e;
   font-size: .9em;
   font-weight: 700;
   width:40%;
}

.buttoneffect
{
	   -moz-opacity: 0.5;
            opacity:.50;
            filter: alpha(opacity=50);
	
}
.buttoneffect:hover {
	   -moz-opacity: 0.9;
            opacity:.90;
            filter: alpha(opacity=90);
}
.textlabelChpsw{
	float:left;
	width:134px;
	margin:5px 5px 0 22px;
	font:12px Arial, Helvetica, sans-serif;
	color:#43567e;
	}